@charset "utf-8";


*{
	
	margin-top: 0px;
}
body {
	background-color: rgb(255, 255, 255);
}
#dev_left{
	width: 22%;
	float: left;


}
#dev_right{
	width: 22%;
	float: right;
	margin-right:33%;


}


 .button_felid_left{
	width: 100%;
	background-color: mediumorchid;
	border-width: 0px;
	border-radius: 4px;
	margin-top: 4px;
	display: block;
	color:white;

}
.button_felid_left:active{
	background-color: rgba(123,14,134,1.00);
}
.button_felid_right{
	width: 100%;
	background-color: mediumorchid;
	border-radius: 8px;
	margin-top: 2px;
	color:white;
	display: block;
	


}
.button_felid_right:active{
		background-color: rgba(123,14,134,1.00);
}
